:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --bg-color: #e5e5e5;
  --bg-color-secondary: #f5f4fa;
  --bg-color-white: #ffffff;
  --logo-text-black: #000000;
  --bg-hero-footer: #2f303a;
  --footer-transparent-color: rgba(255, 255, 255, 0.6);
}

/* color of main text #757575 */
/* color of secondary #212121 */
/* accent #2196F3 */
/* white text #FFFFFF */
/* bg main color  #FFFFFF */
/* bg secondary color #E5E5E5 */
/* bg third color #F5F4FA  */
/* bg footer color #2F303A  */
/* logo color black #000000 */
/* footer and hero color #2F303A */

body {
  background-color: var(--bg-color);
  color: var(--title-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link,
.logo {
  text-decoration: none;
}

/* logo */
.header .logo {
  color: var(--logo-text-black);

  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: var(--accent-color);
}

/* navigation */
.header {
  background-color: var(--bg-color-white);
}

.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav a {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/* hero  */
.hero {
  background-color: var(--bg-hero-footer);
}

.hero-title {
  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero-link {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* section */
.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section {
  background-color: var(--bg-color-white);
}

/* feautures  */
.feautures .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feautures .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* our team */
.our-team {
  background-color: var(--bg-color-secondary);
  line-height: 1.19;
}

.our-team .title {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
}

.our-team .text {
  font-weight: 400;
  font-size: 16px;
}

/* футер */
.footer {
  background-color: var(--bg-hero-footer);
}
.footer,
.footer .logo {
  color: var(--white-text-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer .link {
  color: var(--footer-transparent-color);
}

.footer .list {
  font-size: 14px;
  line-height: 1.71;
}

.footer-addres {
  font-style: normal;
}

/* Портфоліо */
.portfolio {
  background-color: var(--bg-color-white);
}
.portfolio .title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
